.product .product-body .product-description {
    font-size: 14px;
    text-align: justify;
}

.product .product-body .product-quantity {
    font-size: 12px;
    color: #8D99AE;
}

.paginator {
    text-transform: uppercase;
    font-size: 14px;
    color: #23568f;
}

.contact-author{
    text-align: center;
    padding-bottom: 10px;
}

.contact-social-network {
    border: 2px solid #B9BABC;
    color: #B9BABC;
    border-radius: 7px;
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 0 10px;
    display: inline;
    padding: 7px;
}

.contact-social-network-link{
    color: #B9BABC;
}

.contact-list{
    list-style: none outside none;
    text-align: center;
}

